html {
	background: url("/eswp/pic/mountains.jpg") no-repeat center center fixed;
	background-size: cover;
}


.viewport {
	text-align: center;
	color: #fff;
	margin: 40px auto;
	background: rgba(22, 22, 22, 0.5);
	width: 100%;
	max-width: 960px;
	border-radius: 5px;
	padding: 32px;
}

#buttonColor {
	background-color: green;
}