body {
	font-family: fantasy;
	background: fixed url("/eswp/pic/mountains.jpg");
	background-size: cover;
}

#Presentation {
	color: #000000;
	font-style: bold;
}

p {
	border: 1px solid #32cd55;
	border-collapse: collapse;
    color: #778688;
    font-wight: bold;
    background-color: #83fc9e;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 1em;
}
/*
#table {
    border: 3px solid #d22d49;
    background-color: #ffff80;
    border-radius: 10%;
    width: 400px;  
    margin-right: auto;
    margin-left: auto;
}
*/

#targetparagraph{
	background-color: lightblue;	
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    borde-radius:100%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;    
}

td, th {
    border: 1px solid #ff0080;
    padding: 3px;
    text-align: center;
    padding: 1em;
}

th {
    background-color: lightblue;
}

td {
    background-color: lightgreen;
}



.image {
	border: 3px solid #d22d49;
	margin-right: 150px;
    margin-left: 150px;
}

